%nav.navbar.nav-bar
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.navbar-text
          %a{:href => "#"} Home
        %li.navbar-text
          %a{:href => "#"} Popular
        %li.navbar-text
          %a{:href => "#"} Most Shared
        %li.navbar-text
          %a{:href => "#"} New
        %li.navbar-text
          %a{:href => "#"} Sign In/Register
