%nav.navbar.nav-bar
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.navbar-text.active
          %a#home{:href => "#"} Home
        %li.navbar-text
          %a#popular{:href => "#"} Popular
        %li.navbar-text
          %a#most_shared{:href => "#"} Most Shared
        %li.navbar-text
          %a#new{:href => "#"} New
        - if current_user
          %li.navbar-text.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              #{current_user.username}
              %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#"} My Profile
                %li
                  %a{:href => "#"} Logout
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                  %li
                    %a{:href => "#"} Separated link
                %li.divider
                  %li
                    %a{:href => "#"} One more separated link
        - else
          %li.navbar-text
            = link_to("Sign In/Register", login_path, class: "login_link", id: "signin_login")
