.row
  .col-lg-2
  .col-lg-8
    .panel.panel-default
      .panel-heading
        Title
      .panel-body
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut lorem libero. In id ornare sapien, nec varius augue. Nulla eu nisl varius, porttitor sapien non, sagittis eros. Aliquam eu.
      .panel-footer.clearfix
        %span.pull-left
          %a(href="#") Like
          %span
            \-
          %a(href="#") Comment
        %span.pull-right
          %a.btn.btn-primary.btn-xs
            %i.fa.fa-lg.fa-thumbs-o-up
              4
          %a.btn.btn-primary.btn-xs
            %i.fa.fa-lg.fa-comments
              17

  .col-lg-2
.row
  .col-lg-2
  .col-lg-8
    .panel.panel-default
      .panel-heading
        Title
      .panel-body
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum elit nisl, ac lobortis nibh laoreet vel. Suspendisse turpis enim, dictum at ipsum a, laoreet fermentum sem. Donec euismod magna odio, et consequat diam dapibus in. Etiam maximus lacinia mollis. Sed imperdiet ligula a rutrum aliquam. Vestibulum quis odio a urna dignissim blandit. Ut ultricies vel lorem ut laoreet. In ac feugiat velit, sit amet convallis velit. Donec ac hendrerit libero. Vivamus nec mauris nibh. Aliquam consectetur dolor vitae tempor vehicula. Integer sed enim vitae orci pulvinar tristique id nec quam. Integer bibendum orci eu consectetur interdum. Ut in erat.
      .panel-footer.clearfix
        %span.pull-left
          %a(href="#") Like
          %span
            \-
          %a(href="#") Comment
        %span.pull-right
          %a.btn.btn-primary.btn-xs
            %i.fa.fa-lg.fa-thumbs-o-up
              124
          %a.btn.btn-primary.btn-xs
            %i.fa.fa-lg.fa-comments
              8

  .col-lg-2
